body {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.titles {
    color: #007765;
    margin-top: 48px;
    font-style: normal;
    font-size: 64px;
    text-align: center;
    font-weight: 500; 
    line-height: 75px; 
}

.main_container {
    width: 100%;
    max-width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
    margin-left: auto;
    margin-right: auto;
}

.site_header {
    background-color: #007765;
    height: 84px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 21;
}

.navigation_container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    line-height: 28px;
    font-weight: 500;
}

.section_1 {
    background: url(images/section1.png) center no-repeat;
    background-size: cover;
    margin-top: 84px;
    padding-top: 160px;
    padding-bottom: 160px;
}

.main_title {
    font-style: normal;
    color: #FFFFFF;
    font-size: 75px;
    text-align: center;
    font-weight: 500;
    line-height: 84px;
}

.section_2 {
    background-color: #EEEEEE;
    padding-bottom: 95px;
    padding-top: 55px;
}

.text_section_2 {
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
}

.span {
    font-weight: 700;
}

.section_3 {
    background: url(images/message.png) center no-repeat;
    background-size: cover;
    padding-top: 128px;
    padding-bottom: 128px;
}

.message {
    color: #FFFFFF;
    font-size: 48px;
    font-family: Roboto, sans-serif;
    font-style: italic;
    text-align: center;
    font-weight: 500;
    width: 100%;
    line-height: 56px;
}

.span_2 {
    font-style: italic;
}

.section_4 {
    background-color: #FFFFFF;
    padding-bottom: 92px;
    padding-top: 48px;
}

.text_section_4 {
    font-style: normal;
    font-size: 32px;
    line-height: 37px;
    font-weight: 400;
    color: #000;
}

.logo {
    float: left;
    padding-right: 48px;
}

.ppc_logo {
    width: 118px;
    height: 118px;
}

.section_5 {
    background-color: #EEEEEE;
    padding-top: 58px;
    padding-bottom: 112px;
}

.img {
    width: 350px;
    height: 283px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 55px;
}

.name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #007765;
}

.team {
    padding-top: 58px;
}

.figure {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.foto {
    width: 168px;
    height: 168px;
}

.footer {
    padding-top: 50px;
    background-color: #333;
    text-align: center;
}

.text {
    width: 540px;
    height: 64px;
    margin: 0 auto;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 48px;
  }
